$font-family: 'Poppins', sans-serif;
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #78ebc7;
$movie-width: 270px;
$movie-height: 400px;
$font-size: 16px;
$font-size-md: 18px;
$font-size-sm: 14px;
$font-size-min: 12px;
$font-size-lg: 20px;
$gap: 10px;
$gap-md: 30px;
$logo-size: 50px;